<div class="container-xl" style="padding: 10px 0px 10px">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div id="myCarousel4" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel4" *ngFor="let item of product_sm;let i=index"
                        attr.data-slide-to="{{i}}" [ngClass]="{'active': i == 0}"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item " *ngFor="let item of product_sm;let i=index" [ngClass]="{'active': i == 0}" >

                        <div class="row">
                            <div class="col-sm-6 mx-auto" *ngFor="let product of item.data;let i=index">
                                <div class="slide-box">
                                    <div class="product-box">
                                        <div class="inner-box border rounded" style="padding: 10px;">
                                            <div class="image-box">
                                                <figure class="image">
                                                    <a routerLink="/products/{{ product.id }}" href="#"
                                                        style="text-decoration: none">
                                                        <img src="{{product.imageRefs}}" alt="">
                                                    </a>
                                                </figure>
                                                <div class="caption-box">
                                                    <h4> {{product.name}}</h4>
                                                </div>
                                                <div class="overlay-box">
                                                    <div class="inner">
                                                        <h4><a routerLink="/products/{{ product.id }}" href="#"
                                                                style="text-decoration: none">
                                                                {{product.name }}</a></h4>
                                                        <div class="link-box"><a routerLink="/products/{{ product.id }}"
                                                                href="#"
                                                                style="text-decoration: none; width: 100px; height: 50px; padding: 10px 2px">{{btn_title}}<i
                                                                    class="fa fa-caret-right"></i></a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        


                    </div>
                </div>

                <a class="carousel-control-prev" href="#myCarousel4" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel4" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>