//===========================================================
//services-section-four
//==========================================================

// @import '~font-awesome/css/font-awesome.css';

.sec-title.light .text,
.sec-title.light .title,
.sec-title.light h2{
	color: #212121;
}
.sec-title.light .heading{
	color: #0e4082;
	font-weight: bold;
}


.sec-title.light .icon{
	color: #f8e751;
}

.services-section-four{
	position: relative;
    padding: 5px 0 10px; //TT
    // margin-left: 3em;
	// margin-right: 3em;
	font-size: 1.1em;
	line-height: 1.8em;
	font-family:  Arial, Helvetica, sans-serif;
}

.services-section-four:before{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 400px;
	width: 50%;
	//background-color: #f5f8fb;
	content: "";
}

.services-section-four .title-box{
	position: relative;
	margin-bottom: 5px;
}

.services-section-four .title-box .inner-box{
	background-color: white;
	background-image: url("assets/img/background3.jpg");
	text-align: center;
	min-height: 400px;
	padding: 30px 40px;
}

.services-section-four .title-box .sec-title{
	margin-bottom: 30px;
}

.services-section-four .title-box .link-box a{
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 24px;
	color: #222222;
	background-color:#4285F4;
	font-weight: 400;
	transition: all 300ms ease;
}

//========
//.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}

.swiper-container {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
  }

  .swiper-slide {
	background-size: cover;
	background-position: center;
  }
  .gallery-top {
	height: 80%;
	width: 100%;
  }
  .gallery-thumbs {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
  }