<!-- Off-Canvas Category Menu-->
<!-- <div class="offcanvas-container" id="shop-categories">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title">Shop Categories</h3>
  </div>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class="has-children">
        <span>
          <a href="#">Men's Shoes</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Sneakers</a>
          </li>
          <li>
            <a href="#">Loafers</a>
          </li>
          <li>
            <a href="#">Boat Shoes</a>
          </li>
          <li>
            <a href="#">Sandals</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Women's Shoes</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Sandals</a>
          </li>
          <li>
            <a href="#">Flats</a>
          </li>
          <li>
            <a href="#">Sneakers</a>
          </li>
          <li>
            <a href="#">Heels</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Men's Clothing</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Shirts &amp; Tops</a>
          </li>
          <li>
            <a href="#">Pants</a>
          </li>
          <li>
            <a href="#">Jackets</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Women's Clothing</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Dresses</a>
          </li>
          <li>
            <a href="#">Shirts &amp; Tops</a>
          </li>
          <li>
            <a href="#">Shorts</a>
          </li>
          <li>
            <a href="#">Swimwear</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Kid's Shoes</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Boots</a>
          </li>
          <li>
            <a href="#">Sandals</a>
          </li>
          <li>
            <a href="#">Crib Shoes</a>
          </li>
          <li>
            <a href="#">Loafers</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Bags</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Handbags</a>
          </li>
          <li>
            <a href="#">Backpacks</a>
          </li>
          <li>
            <a href="#">Luggage</a>
          </li>
          <li>
            <a href="#">Wallets</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
      <li class="has-children">
        <span>
          <a href="#">Accessories</a>
          <span class="sub-menu-toggle"></span>
        </span>
        <ul class="offcanvas-submenu">
          <li>
            <a href="#">Sunglasses</a>
          </li>
          <li>
            <a href="#">Hats</a>
          </li>
          <li>
            <a href="#">Watches</a>
          </li>
          <li>
            <a href="#">Jewelry</a>
          </li>
          <li>
            <a href="#">Belts</a>
          </li>
          <li>
            <a href="#">View All</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div> -->

<!-- Off-Canvas Mobile Menu-->
<div class="offcanvas-container" id="mobile-menu"
  [ngClass]="{'active': offcanvasService.offcanvasNavigationOpen | async}">
  <a *ngIf="user" class="account-link" routerLink="/account/profile" (click)="onNavigationClick()">

    <div class="user-info">
      <span class="text-sm text-white opacity-60">Logged in as:</span>
      <h6 class="user-name">{{ user.email }}<span *ngIf="user.roles.admin"> (Admin)</span></h6>

    </div>
  </a>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li routerLinkActive="active">
        <span>
          <a routerLink="/home" (click)="onNavigationClick()">
            <i class="fa fa-home"></i>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <div>
            <button class="dropdown-btn" (click)="onDropdownClick()" id="btn">{{navbar.about}}
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a routerLink="/about/about" (click)="onNavigationClick()"> {{navbar.about_}}</a>
              <a routerLink="/about/mission" (click)="onNavigationClick()"> {{navbar.about_vision}}</a>
              <a routerLink="/about/corevalue" (click)="onNavigationClick()"> {{navbar.about_corevalue}}</a>
              <a routerLink="/about/market" (click)="onNavigationClick()"> {{navbar.market}}</a>
            </div>
          </div>

        </span>
      </li>


      <li routerLinkActive="active">
        <span>
          <a routerLink="/products" (click)="onNavigationClick()">
            <span>{{navbar.products}}</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/aquaculture" (click)="onNavigationClick()">
            <span>{{navbar.aquaculture}}</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/news" (click)="onNavigationClick()">
            <span>{{navbar.news}}</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/recuitment" (click)="onNavigationClick()">
            <span>{{navbar.recruitment}}</span>
          </a>
        </span>
      </li>
      <li routerLinkActive="active">
        <span>
          <a routerLink="/contact" (click)="onNavigationClick()">
            <span>{{navbar.contact}}</span>
          </a>
        </span>
      </li>
    </ul>


  </nav>
</div>