<!-- <div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><figure class="image-box" style="margin-top: 5em;"><img src="assets/img/logo/1.png" alt=""></figure></div>
    <div class="swiper-slide"><figure class="image-box" style="margin-top: 5em;"><img src="assets/img/logo/2.png" alt=""></figure></div>
    <div class="swiper-slide"><figure class="image-box" style="margin-top: 5em;"><img src="assets/img/logo/3.png" alt=""></figure></div>
    <div class="swiper-slide"><figure class="image-box" style="margin-top: 5em;"><img src="assets/img/logo/4.png" alt=""></figure></div>
    <div class="swiper-slide"><figure class="image-box" style="margin-top: 5em;"><img src="assets/img/logo/5.png" alt=""></figure></div>
    <div class="swiper-slide"><figure class="image-box" style="margin-top: 5em;"><img src="assets/img/logo/6.png" alt=""></figure></div>
  </div>

  <div class="swiper-pagination"></div>
</div> -->


  <div class="swiper-containers">
    <div class="swiper-wrapper" >
      <div class="swiper-slide">
        <img src="{{certificatedImgUrl[0]}}" class="d-block w-100" alt="...">
      </div>
      <div class="swiper-slide">
        <img src="{{certificatedImgUrl[1]}}" class="d-block w-100" alt="...">
      </div>
      <div class="swiper-slide">
        <img src="{{certificatedImgUrl[2]}}" class="d-block w-100" alt="...">
      </div>
      <div class="swiper-slide" >
        <img src="{{certificatedImgUrl[3]}}" class="d-block w-100" alt="...">
      </div>
      <div class="swiper-slide" >
        <img src="{{certificatedImgUrl[4]}}" class="d-block w-100" alt="...">
      </div>
      <div class="swiper-slide">
        <img src="{{certificatedImgUrl[5]}}" class="d-block w-100" alt="...">
      </div>
      <div class="swiper-slide">
        <img src="{{certificatedImgUrl[6]}}" class="d-block w-100" alt="...">
      </div>
      <div class="swiper-slide">
        <img src="{{certificatedImgUrl[7]}}" class="d-block w-100" alt="...">
      </div>

    </div>
    <!-- Add Pagination -->
    <!-- <div class="swiper-pagination"></div> -->
  </div>