<!-- Site Footer-->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-6">
        <!-- Contact Info-->
        <section class="widget widget-light-skin">
          <h3 class="widget-title">{{lang.companyName}}</h3>
          <p class="text-white">{{lang.cell}}: (+84) 907 484 813 (Phạm Văn Tuấn)</p>
          <p class="text-white">{{lang.phone}}: (+84) 2 773 708 198</p>
          <p class="text-white">{{lang.address}}: {{lang.address_}}</p>
          <p>
            <a class="navi-link-light" href="mailto:info.viethongseafood@gmail.com" target="_blank">info.viethongseafood@gmail.com</a>
          </p>
          <a class="social-button shape-circle sb-facebook sb-light-skin"
            href="https://www.facebook.com/seafoodviethong" target="_blank">
            <i class="socicon-facebook"></i>
          </a>
          <a class="social-button shape-circle sb-youtube sb-light-skin"
            href="https://www.youtube.com/channel/UCJWMa5v1dP8ygqGJxE0yKKg?view_as=subscriber" target="_blank">
            <i class="socicon-youtube"></i>
          </a>
        </section>
        <div class="fb-page" data-href="https://www.facebook.com/cpviethong" data-width="340" data-hide-cover="false"
        data-show-facepile="true"></div>
      </div>

      <div class="col-lg-3 col-md-6">
        <!-- About Us-->
        <section class="widget widget-links widget-light-skin">
          <h3 class="widget-title">{{lang.about_header}}</h3>
          <ul>
            <li>
              <a routerLink="/about/about" href="">{{lang.about}}</a>
            </li>
            <li>
              <a routerLink="/products" href="">{{lang.product}}</a>
            </li>
            <li>
              <a routerLink="/aquaculture" href="">{{lang.aquaculture}}</a>
            </li>
            <li>
              <a routerLink="/news" href="">{{lang.news}}</a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <hr class="hr-light mt-2 margin-bottom-2x">

    <!-- Copyright-->
    <p class="footer-copyright">© All rights reserved
      <a href="mailto:tungtran.au@hotmail.com" target="_blank"> &nbsp;by Tung Thai Tran</a>
    </p>
  </div>
</footer>