@import '~scss/helpers/variables';
@import '~scss/helpers/mixins';

// Page Title
.page-title {
  width: 100%;
  margin-bottom: 20px; //~60px
  padding: floor($grid-vertical-step * 1.5) 0; //~36px 0
  border-bottom: 1px solid $border-color;
  background-color: $gray-lighter;
  > .container,
  > .container-fluid { display: table; }
  .column {
    display: table-cell;
    vertical-align: middle;
    &:first-child { padding-right: 20px; }
  }
  
  @media (max-width: $screen-sm) { margin-bottom: ceil($grid-vertical-step * 2.2); }
}


// Media query (max-width: 768px)
@media (max-width: $screen-md) {
  .page-title {
    > .container,
    > .container-fluid { display: block; }
    .column {
      display: block;
      width: 100%;
      text-align: center;
      &:first-child { padding-right: 0; }
    }
  }
}
