
<section class="service-page-section">
    <div class="auto-container">
        <!-- Service Block Five -->
        <div class="service-block-five" >
            <div class="row">
                <!-- Image Column -->
                <div class="image-column col-lg-12 col-md-12 col-sm-12">

                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{{imgUrl[0]}}" class="d-block w-100" alt="...">
                            </div>
                            <div class="swiper-slide">
                                <img src="{{imgUrl[1]}}" class="d-block w-100" alt="...">
                            </div>
                            <div class="swiper-slide" >
                                <img src="{{imgUrl[2]}}" class="d-block w-100" alt="...">
                            </div>           
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" >
                                <img src="{{imgUrl[0]}}" class="d-block w-100" alt="...">
                            </div>
                            <div class="swiper-slide" >
                                <img src="{{imgUrl[1]}}" class="d-block w-100" alt="...">
                            </div>
                            <div class="swiper-slide" >
                                <img src="{{imgUrl[2]}}" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>