<div class="container-xl" style="padding: 10px 0px 10px">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div id="myCarousel1" class="carousel slide" data-ride="carousel">             
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" *ngFor="let slide of data;let i=index" attr.data-slide-to="{{i}}" [ngClass]="{'active': i == 0}"></li>
                </ol>
               
                <div class="carousel-inner">
                    <div  class="carousel-item" *ngFor="let slide of data;let i=index" [ngClass]="{'active': i == 0}">                           
                            <!-- <a routerLink="/aquaculture" href="" style="text-decoration: none">
                                <h2>{{slide.heading}}</h2>
                            </a>
                            <div *ngFor="let des of slide.des;let first = first">
                                <p *ngIf="first" class="testimonial">{{des.des}}</p>
                            </div> -->

                            <section class="about-section">
                                <div class="auto-container">
                                    <div class="icon-layer wow slideInLeft" data-wow-delay="400ms"></div>
                                    <div class="row">
                                        <!-- Content Column -->
                                        <div class="content-column col-lg-6 col-md-12 col-sm-12">
                                            <div class="inner-column">
                                                <div class="sec-title-two">
                                                    <h2>{{slide.heading}}</h2>
                                                </div>
                                                <div *ngFor="let des of slide.des;let first = first">
                                                    <div *ngIf="first" class="text">
                                                        {{des.des}}
                                                      </div>
                                                  
                                                </div>

                                                <div class="link-box">
                                                    <a routerLink="/aquaculture" href="">{{btn_title}}<i class="fa fa-caret-right"></i></a>
                                                </div>
                                               
                                            </div>
                                        </div>
                        
                                        <!-- image column -->
                                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                            <div class="inner-column">
                                                <div class="image-box wow fadeInRight">
                                                    <figure class="image"><img src="{{slide.imgUrl[0]}}" alt="" style="padding: 10px;"></figure>
                                                    <!-- <div class="info-box">
                                                        <span class="text">years of TRUST<br> and excellence</span>
                                                        <h1>25</h1>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                    </div>
                </div>
                
                <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#myCarousel1" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
