<!-- Topbar-->
<div class="topbar" style="background-color: #f5f8fb;">
  <div class="topbar-column">
    <!-- <a class="hidden-sm-down" href="mailto:info@andre-abt.com">
      <i class="icon-mail"></i>&nbsp; info@viethongseafood.com</a>
    <a href="tel:0907484813">

      <span class="icon fa fa-headphones"></span> Contact Support <strong>(+84) 907-484-813</strong></a> -->
    <!-- <a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank">
        <i class="socicon-facebook"></i>
      </a>
      <a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank">
        <i class="socicon-twitter"></i>
      </a>
      <a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank">
        <i class="socicon-instagram"></i>
      </a>
      <a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank">
        <i class="socicon-pinterest"></i>
      </a>  -->

    <div class="main-header" style="padding-right: 20px;">
      <div class="header-top">
        <div class="auto-container clearfix">
          <div class="top-left">
            <ul class="info-list">
              <li><a class="text-none-decoration" href="mailto:info.viethongseafood@gmail.com"
                  target="_blank">info.viethongseafood@gmail.com</a></li>
            </ul>
          </div>
          <div class="top-right clearfix">
            <a href="tel:0907484813" style="text-decoration: none;">
              <div class="text"><span class="icon fa fa-headphones"></span>
                <strong>(+84) 907-484-813</strong>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <header class="main-header">
  <div class="header-top">
    <div class="auto-container clearfix">
      <div class="top-left">
        <ul class="info-list">
          <li><a class="text-none-decoration" href="mailto:info@viethongseafood.com" target="_blank">info@viethongseafood.com</a></li>
        </ul>
      </div>
      <div class="top-right clearfix">
        <a href="tel:0907484813" style="text-decoration: none;">
          <div class="text"><span class="icon fa fa-headphones"></span>
            <strong>(+84) 907-484-813</strong>
          </div>
        </a>

      </div>
    </div>
  </div>
</header> -->